<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new post</title>
    <link href="/reset.css" rel="stylesheet" />
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>


<div th:replace="fragments/header :: fellows">...</div>
<div class="row">
   <h3>Add new Post</h3>
<form action="#" th:action="@{/posts}" th:object="${newpost}"  method="post">

    <table>
        <tr>
            <td>Body:</td>
            <td><textarea type="text" th:field="*{body}"  required/></td>
            <td th:if="${#fields.hasErrors('body')}" th:errors="*{body}">Body Error</td>
        </tr>
    </table>
    <button type="submit">Submit your Post</button>
</form>
</div>
</body>
</html>