<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
       <h1>My Profile</h1>
      <img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=beautiful-beauty-blue-414612.jpg&fm=jpg" height="200px" width="200px"/>
      <p>Username: <span th:text="${principal.username}"/></p>
       <p>First Name: <span th:text="${principal.firstName}"/></p>
       <p>Last Name: <span th:text="${principal.lastName}"/></p>
       <p>Date of Birth: <span th:text="${principal.dateofBirth}"/></p>
       <p>Bio: <span th:text="${principal.bio}"/></p>
<a href="/potato">Log Out</a>

</body>
</html>